<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="about-us/style.css">
    <title>Oca lamination machines</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="header-1">
                <div class="logo-container">
                    <a href="/" class="logo-skt">
                        <h3>SKT</h3>
                    </a>
                    <div href="#" class="logo-golcha-container">
                        <img src="../pics/ezgif.com-gif-maker (1).gif" alt="" srcset="">
                        <h3 class="golcha-heading">G<h3 class="golcha-heading-afterG">olcha.com</h3>
                        </h3>
                    </div>
                </div>
                <div class="hamburger">
                    <button class="hamburger-btn"><i class="fa fa-bars"></i></button>
                </div>
                <nav class="navbar">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="aboutus">About Us</a></li>
                        <li><a href="/#products">Products</a></li>
                        <li><a href="support">Support</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="hero" id="hero">
            <div class="hero-container">
                <div class="heading">
                    <h2>ABOUT US</h2>
                </div>
                <div class="all-headings">
                    <div class="skt">
                        <h2>SKT</h2>
                    </div>
                    <div class="golcha-logo">
                        <h1 class="golcha-heading">G<h1 class="golcha-heading-afterG">olcha.com</h1>
                        </h1>
                        <img src="pics/ezgif.com-gif-maker (1).gif" alt="" srcset="">
                    </div>
                </div>
                <div class="details">
                    <p>नमस्ते, GOLCHA.COM (OCA मशीन विशेषज्ञ) में आपका स्वागत है। हम भारत में ओसीए लेमिनेशन मशीन लाने
                        वाली पहली कंपनी हैं। बहुत सारे तकनीकी अनुसंधान और विकास और व्यावहारिक कार्य अनुभव के साथ हमें
                        SKT Golcha OCA लैमिनेशन मशीनों को पेश करने पर गर्व है जो भारतीय बाजार के लिए सबसे उपयुक्त हैं।
                        SKT Golcha OCA लैमिनेशन मशीनें पिछले 5 वर्षों से बाजार की अग्रणी हैं और हर मोबाइल रिपेयरिंग
                        विशेषज्ञ की पहली पसंद है।</p>
                        

                    <p>Hi, Welcome to GOLCHA.COM (THE OCA MACHINE SPECIALIST). Established in the year 2014, GOLCHA.COM
                        has become one of the leading and trustworthy companies of the mobile repair industry. Ownership
                        type of our firm is a sole proprietorship. The head office of our company is based in Delhi
                        (India).</p>

                    <p>We are the first company to bring OCA Lamination machine technology to INDIA. With lots of
                        technical R&D and practical work experience we are proud to introduce SKT GOLCHA OCA Lamination
                        machines that are best suited to Indian Market. SKT GOLCHA OCA Lamination Machines are the
                        market leader for past 6 years and first choice of every mobile repairing expert.</p>

                    <p>In order to keep pace with the never-ending demands of customers, we have become the reputed
                        importer and wholesale trader of a comprehensive range of OCA Lamination Machine , Mobile
                        Display Repairing Glue, Mobile Display Glass, Mobile Display Reflector. The entire assortment is
                        made by using high-quality raw material and latest techniques at our vendor’s end, which have
                        made them best in terms of reliability and excellence. Also, stringent quality checks are
                        carried out by us over the whole range, to assure that our products are free from any defect and
                        are in compliance to the norms defined by the industry.</p>
                </div>
                <div class="map">
                    <div class="heading">
                        <h2>ALL OVER INDIA</h2>
                    </div>
                    <img src="pics/SKTMap.png" alt="" srcset="">
                </div>
            </div>
        </div>
        <footer>
            <div class="line-1">
                <p>COPYRIGHT © 2021 GOLCHA.COM. ALL RIGHTS RESERVED</p>
            </div>
            <div class="line-2">
                <a href="aboutus">About Us</a>
                <a href="/#product">Product</a>
                <a href="support">Contact Us</a>
            </div>
        </footer>

        <div class="floating-buttons">
            <div class="floating-buttons-container">
                <a href="https://wa.me/+919212090095"> <i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
    <script src="../about-us/app.js"></script>
</body>

</html>